@page "/"
@model Suteu_Darius_Lab2.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form method="get">
    <div class="form-group">
        <label for="AuthorID">Select Author:</label>
        <select id="AuthorID" name="AuthorID" class="form-control" asp-items="ViewBag.AuthorID"></select>
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.BookD.Books.FirstOrDefault().Title)</th>
            <th>@Html.DisplayNameFor(model => model.BookD.Books.FirstOrDefault().Price)</th>
            <th>@Html.DisplayNameFor(model => model.BookD.Books.FirstOrDefault().PublishingDate)</th>
            <th>@Html.DisplayNameFor(model => model.BookD.Books.FirstOrDefault().Publisher.PublisherName)</th>
            <th>Author Name</th>
            <th>Categories</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookD.Books)
        {
            string selectedRow = item.ID == Model.BookID ? "table-success" : "";

            <tr class="@selectedRow">
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.PublishingDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Publisher.PublisherName)</td>
                <td>@Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName)</td>
                <td>
                    @foreach (var category in item.BookCategories)
                    {
                        <span>@category.Category.CategoryName</span>

                        <br />
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
